<div class="add-button">
  <button mat-fab color="primary" (click)="addProd()" aria-label="button with an add icon">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="custom-grid-container">   
  <div class="product-list">
    <div [style]="item.selected ? 'background: #ddf9f9': ''" class="list-item" *ngFor="let item of prodArr; let i = index">
      <div>{{item.Name}}</div>
      <div>{{item.Description}}</div>
      <div>Price: {{item.Price}}$</div>
      <img class="item-img" [src]="item.Image" onerror="this.src='assets/AltImage.png'">
      <button mat-fab color="accent" [disabled]="showProdEditor" (click)="editProduct(item, i)" aria-label="button with an edit icon">
        <mat-icon>edit</mat-icon>
    </button>
    </div>
  </div>
  
    <div class="product-form" *ngIf="showProdEditor">
      <app-product-editor
      [product]="productToEdit"
      [arrLength]="prodArr.length"
      [editMode]="editMode"
      [index]="index"
      (newProd)="updateProdArr($event)"
      (editCanceld)="cancelEdit()">
      </app-product-editor>
    </div>
</div>